%h2 #{@argument.page.title}: #{@argument.option_string}
= simple_form_for @argument,  update_or_create_path(@argument) do |f|
  = f.error_notification

  .form-inputs
    = f.input :summary
    = f.label :description
    (you can format the text by using
    = link_to 'markdown', 'http://daringfireball.net/projects/markdown/syntax',
      target: '_blank'
    )
    = f.input_field :description

  .form-actions
    = f.button :submit


= link_to 'Back', page_path(@argument.page)
