%h1 New argument
%h2 #{@page.title}: #{params[:option]}
= simple_form_for @argument,  url: create_argument_path, method: :put do |f|
  = f.error_notification

  .form-inputs
    = f.input :summary
    = f.input :description

  .form-actions
    = f.button :submit


= link_to 'Back', page_path(@page)
