.signature
  by #{link_to_user obj.author}, on #{obj.created_at.to_s(:short)}
- edits = obj.versions.size
- if edits > 0
  .edits
    - pluralized = edits == 1 ? "edit" : "edits"
    #{edits} #{link_to pluralized, versions_path(obj)}

- comments = obj.comments.size
- if comments > 0
  .comments
    - pluralized = comments == 1 ? "comment" : "comments"
    = link_to comments.to_s + ' ' + pluralized, comments_path
- elsif can? :create, Comment
  .comments
    = link_to "add a comment", new_comment_path
