.col-sm-6{class: "option-#{option}-content"}
  %h2.option-header
    = @page.options[option]
    - if can? :create, Argument
      =link_to 'Add', new_argument_path(@page, option), class: 'btn btn-primary'
  - @page.arguments_for(option).each do |a|
    %hr
    .row
      = render partial: 'votes', locals: {a: a}
      .col-xs-10
        %h4
          = a.summary
          - if can? :edit, a
            %small [#{link_to 'edit', edit_page_argument_path(@page, a)}]
        :safemarkdown
          #{a.description}
        .pull-right
          = render partial: 'users/signature',
            locals: {obj: a, new_comment_path: new_page_argument_comment_path(@page, a), comments_path: page_argument_comments_path(@page, a)}


  - unless @page.arguments_for(option).empty?
    %hr