.span5
  %h2
    = option
    =link_to 'Add', new_argument_path(option), class: 'btn btn-primary'
  - @page.arguments_for(option).each do |a|
    %hr
    .row
      = render partial: 'votes', locals: {a: a}
      .span4
        %h4
          = a.summary
          - if can? :edit, a
            %small [#{link_to 'edit', edit_argument_path(a, option)}]
        :markdown
          #{a.description}
        .pull-right
          = render partial: 'users/signature',
                   locals: {user: a.author, time: a.created_at}


  - unless @page.arguments_for(option).empty?
    %hr