.span5
  %h2
    = option
    =link_to 'Add', new_argument_path(option), class: 'btn btn-primary'
  - @page.arguments_for(option).each do |a|
    %hr
    .row
      .span1.votes
        %a{onclick: "vote('up', #{a.id}, 1)"}
          = glyph('chevron-up')
        %div{id: "votes#{a.id}"}= a.score
        %a{onclick: "vote('down', #{a.id}, 1)"}
          = glyph('chevron-down')
      .span4
        %h3
          = a.summary
          %small [#{link_to 'edit', edit_argument_path(a, option)}]
        :markdown
          #{a.description}
        .pull-right
          = render partial: 'users/signature',
                   locals: {user: a.author, time: a.created_at}


  - unless @page.arguments_for(option).empty?
    %hr