.span5
  %h2.option-header
    = @page.options[option]
    - if can? :create, Argument
      =link_to 'Add', new_argument_path(@page, option), class: 'btn btn-primary'
  - @page.arguments_for(option).each do |a|
    %hr
    .row
      = render partial: 'votes', locals: {a: a}
      .span4
        %h4
          = a.summary
          - if can? :edit, a
            %small [#{link_to 'edit', edit_argument_path(a)}]
        :markdown
          #{a.description}
        .pull-right
          = render partial: 'users/signature',
            locals: {obj: a}


  - unless @page.arguments_for(option).empty?
    %hr