.span5
  %h2= option
  - @page.arguments_for(option).each do |a|
    %hr
    .row
      .span1.votes
        %a{onclick: "vote('up', #{a.id}, 1)"}
          = glyph('chevron-up')
        %div{id: 'votes'+a.id.to_s} 0
        %a{onclick: "vote('down', #{a.id}, 1)"}
          = glyph('chevron-down')
      .span
        %h3
          = a.summary
          %small [#{link_to 'edit', edit_argument_path(a, option)}]
        :markdown
          #{a.description}

  - unless @page.arguments_for(option).empty?
    %hr
  =link_to 'Add argument', new_argument_path(option), class: 'btn'