= simple_form_for(@page) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.label :content
    (you can format the text by using
    = link_to 'markdown', 'http://daringfireball.net/projects/markdown/syntax',
      target: '_blank'
    )
    = f.input_field :content
    = f.input :option1
    = f.input :option2

  .form-actions
    = f.button :submit
