= simple_form_for(@page) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.label :content
    (you can format the text by using
    = link_to 'markdown', 'http://daringfireball.net/projects/markdown/syntax',
      target: '_blank'
    )
    = f.input_field :content
    .row
      .col-sm-6
        = f.input :option1, label: 'Option 1'
      .col-sm-6
        = f.input :option2, label: 'Option 2'

  .form-actions
    = link_to 'Back', pages_path, class: 'btn btn-default'
    = f.button :submit
