/ parameter a: argument
.span1.votes
  %a{onclick: "vote('up', #{a.id}, 1)"}
    = glyph('chevron-up')
  %div{id: "votes#{a.id}"}= a.score
  %a{onclick: "vote('down', #{a.id}, 1)"}
    = glyph('chevron-down')