%p#notice= notice

%h2
  =@page.title
  %small
    [#{link_to 'edit', edit_page_path(@page)}]
%p
  :markdown
    #{@page.content}
%hr
.row
  = render partial: 'arguments', locals: { option: @page.option1 }
  = render partial: 'arguments', locals: { option: @page.option2 }

%hr
