%p#notice= notice

%h2
  = @page.title
%p
  :markdown
    #{@page.content}
%hr
.row
  = render partial: 'arguments', locals: { option: @page.option1 }
  = render partial: 'arguments', locals: { option: @page.option2 }

%hr
= link_to 'Edit', edit_page_path(@page)
\|
= link_to 'Back', pages_path
