%p#notice= notice

%h2
  =@page.title
  %small
    [#{link_to 'edit', edit_page_path(@page)}]
.container.page-content
  :markdown
    #{@page.content}
  .pull-right
    = render partial: 'users/signature',
             locals: {user: @page.author, time: @page.created_at}
.row
  = render partial: 'arguments', locals: { option: @page.option1 }
  = render partial: 'arguments', locals: { option: @page.option2 }

