%p#notice= notice

%h3.page-header
  =@page.title
  - if can? :edit, @page
    %small
      [#{link_to 'edit', edit_page_path(@page)}]
.page-content
  :markdown
    #{@page.content}
  .text-right
    = render partial: 'users/signature',
      locals: {obj: @page}
.row
  = render partial: 'arguments', locals: { option: 0 }
  = render partial: 'arguments', locals: { option: 1 }

