/
  %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
.navbar-header
  %a.navbar-brand(href="/") Pros'n'Cons
.navbar-collapse.collapse
  %ul.nav.navbar-nav
    %li= link_to "Users", users_path
    %li= link_to "Pages", pages_path
    %li= link_to "FAQ", '/faq'
  %ul.nav.navbar-nav.pull-right
    - if session[:email]
      = render 'layouts/logged_in'
    - else
      = render 'layouts/not_logged_in'